.admin-menu {
    transition: opacity 0.3s ease-in-out;
}

    .admin-menu[style*="display:block"] {
        opacity: 1;
    }

    .admin-menu[style*="display:none"] {
        opacity: 0;
        pointer-events: none;
    }
